<section class="carousel-area bg-gray-800 py-32">
    <div class="container">
      <div class="flex">
        <div class="w-full relative">
          <div class="portfolio-carousel">
            <div>
              <img class="w-full" src="assets/img/slide/img1.jpg" alt="">
            </div>
            <div>
              <img class="w-full" src="assets/img/slide/img2.jpg" alt="">
            </div>
            <div>
              <img class="w-full" src="assets/img/slide/img3.jpg" alt="">
            </div>
            <div>
              <img class="w-full" src="assets/img/slide/img4.jpg" alt="">
            </div>
            <div>
              <img class="w-full" src="assets/img/slide/img5.jpg" alt="">
            </div>
            <div>
              <img  class="w-full" src="assets/img/slide/img6.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>