<nav>
    <div class="site-title">
        <a href="/"><img src="images/près2vous.png" alt=""></a>
        <p>A Net Ninja Site</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Post</a></li>
    </ul>
</nav>