<section id="pricing" class="py-24">
    <div class="container">
      <div class="flex flex-wrap justify-center md:justify-start">
        <!-- single pricing table starts -->
        <div class="w-3/4 sm:w-2/3 md:w-1/2 lg:w-1/3">
          <div class="pricing-box wow fadeInLeft" data-wow-delay="1.2s">
            <div class="mb-3">
              <h3 class="package-name">Basic</h3>
            </div>
            <div class="mb-5">
              <p class="text-gray-700">
                <span class="font-bold text-2xl">$12.90</span>
                <span class="font-medium text-sm">/ Month</span>
              </p>
            </div>
            <ul class="mb-16">
              <li class="text-gray-500 leading-9">Up to 5 projects </li>
              <li class="text-gray-500 leading-9">Up to 10 collabrators</li>
              <li class="text-gray-500 leading-9">2gb of storage</li>
            </ul>
            <a href="#" class="btn">Get It</a>
          </div>
        </div>
        <!-- single pricing table ends -->
        <!-- single pricing table starts -->
        <div class="w-3/4 sm:w-2/3 md:w-1/2 lg:w-1/3">
          <div class="pricing-box bg-blue-100 wow fadeInLeft" data-wow-delay="1.2s">
            <div class="mb-3">
              <h3 class="package-name">PROFESIONAL</h3>
            </div>
            <div class="mb-5">
              <p class="text-gray-700">
                <span class="font-bold text-2xl">$49.90</span>
                <span class="font-medium text-sm">/ Month</span>
              </p>
            </div>
            <ul class="mb-16">
              <li class="text-gray-500 leading-9">Up to 10 projects </li>
              <li class="text-gray-500 leading-9">Up to 20 collabrators</li>
              <li class="text-gray-500 leading-9">10gb of storage</li>
              <li class="text-gray-500 leading-9">Real-time collabration</li>
            </ul>
            <a href="#" class="btn">Get It</a>
          </div>
        </div>
        <!-- single pricing table ends -->
        <!-- single pricing table starts -->
        <div class="w-3/4 sm:w-2/3 md:w-1/2 lg:w-1/3">
          <div class="pricing-box">
            <div class="mb-3">
              <h3 class="package-name">EXPERT</h3>
            </div>
            <div class="mb-5">
              <p class="text-gray-700">
                <span class="font-bold text-2xl">$89.90</span>
                <span class="font-medium text-sm">/ Month</span>
              </p>
            </div>
            <ul class="mb-16">
              <li class="text-gray-500 leading-9">unlimited projects </li>
              <li class="text-gray-500 leading-9">Unlimited collabrators</li>
              <li class="text-gray-500 leading-9">Unlimited of storage</li>
              <li class="text-gray-500 leading-9">Real-time collabration</li>
              <li class="text-gray-500 leading-9">24x7 Support</li>
            </ul>
            <a href="#" class="btn">Get It</a>
          </div>
        </div>
        <!-- single pricing table ends -->
      </div>
    </div>
  </section>