<div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, sit! Quas ducimus, voluptatum illum, hic error porro cumque repellat nulla nam tenetur est dolor modi voluptate placeat asperiores nemo dolores!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, sit! Quas ducimus, voluptatum illum, hic error porro cumque repellat nulla nam tenetur est dolor modi voluptate placeat asperiores nemo dolores!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, sit! Quas ducimus, voluptatum illum, hic error porro cumque repellat nulla nam tenetur est dolor modi voluptate placeat asperiores nemo dolores!</p>
</div>