<h1>Import data from excel</h1>
<form action="/balcor" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <input type="file" name="filename" class="form-control">
        <button type="submit" class="btn btn-primary mt-3">import excel</button>
    </div>
</form>

<div id="tableur"></div>
<div id="tableur2"></div>