<h3 class="alert alert-info">Retrouvez un numero de compte avec son libelle !</h3>

<div class="filters">
    <div class="search">
        <!-- search -->
        <form class="input-form">
            <input type="text" class="search-input form-control" placeholder="recherche..." />
        </form>
    </div>
</div>


<div class="plan" style="
display: grid;
    grid-template-columns: repeat(3, 1fr);
grid-gap: 2rem;
margin-top: 3rem;"></div>